<template name="login">
  <div class="login">
    <div class="toggle-login">
      Login
    </div>
    {{#if showLogin}}
      <div class="login-window">
        {{#if currentUser}}
          {{currentUser.username}}
          <input type="button" class="logout-button" value="logout">
        {{/if}}
        <form>
          <div>
            <label for="username">Username:</label>
            <input type="text" class="username">
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="text" class="password">
          </div>
          <input type="button" class="login-button" value="login">
        </form>
        <div class="users">
          {{#each users}}
            {{> user}}
          {{/each}}
        </div>
        <input type="text" class="new-username">
        <input type="button" class="add-user" value="New User">
        <div class="stats">{{numUsers}} Users.</div>
      </div>
    {{/if}}
  </div>
</template>

<template name="user">
  <div class="user">
    {{username}}
    <input type="button" class="delete-user" value="Delete User">
  </div>
</template>